.spring-summer {
  margin-bottom: 100px;
}
.sp-sm-txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #01041e;
}
#sp-sm-mobile {
  display: none;
}
.sp-sm-txt h4 {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}
.sp-sm-txt img {
  margin-top: 20px;
  width: 400px;
}
.sp-sm-txt2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  color: #01041e;
}

.sp-sm-txt h4 {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}
.sp-img {
  width: 200px !important;
  margin-top: 10px;
  margin-bottom: 40px;
}
.sp-sm-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.sp-sm-inner {
  width: 45%;
  background: #01041e;
}
.middle2 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.product-wrapper2:hover .middle2 {
  opacity: 1;
}

.product-wrapper2:hover .product-img2 {
  opacity: 0.7;
}

.product-img2 {
  transition: 0.3s;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.img100 {
  width: 100%;
}

@media all and (max-width: 1500px) {
  .sp-sm-container {
    flex-direction: column;
    margin-top: 0;
  }
  .sp-sm-txt img {
    width: 280px;
    margin-bottom: 30px;
  }
  .sp-sm-inner {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media all and (max-width: 700px) {
  .product-wrapper2 .middle2 {
    opacity: 1;
  }
  .product-wrapper2 .product-img2 {
    opacity: 0.7;
  }
}
